/***
 * Project Details Page
 *
 *
 */




//
//  Project Details Container
//


.project-details {
    background-color: $white;
}




// Define icon dimensions and p text values

$pd-fontsize: 16px;
$pd-line-height: 1.5;
$pd-icon-dimension: 24px;




//
//  Text Styles
//


/*h1*/.pd-heading {
    margin:  0 0 rem-calc(8px) 0;
    font-size:   rem-calc(32px);
    line-height: 1.2;
    font-weight: 600;
    text-align:  center;
}


/*p*/.pd-creator {
    @include typographic-divider((offset-bottom: 0.875rem, width: 64px));
    font-size:   rem-calc($pd-fontsize);
    line-height: $pd-line-height;
    text-align:  center;
}


/*a*/.pd-creator-a {
    position: relative;
    text-decoration: none;
}


/*span*/.pd-icon-mail {
    &:after {

        $top: ($pd-icon-dimension - ($pd-line-height * $pd-fontsize)) / 2 + 1px; // Calculate top value: + 1px to align icon visually correct
        $bg-size: rem-calc(12px);

        content: '';
        position: relative;
        display: inline-block;
        vertical-align: bottom;  // to layout this icon with the top var, we
        // need to adjust the vertical align here

        top:    rem-calc($top);
        width:  rem-calc($pd-icon-dimension);
        height: rem-calc($pd-icon-dimension);

        margin: 0 rem-calc(4px);
        border-radius: 50%;

        background: url('../images/icon-email-white.svg')
                    $clr-blue-shade-2
                    center center
                    no-repeat;

        background-size: $bg-size $bg-size;
    }
}




//
//  Project Metrics Container
//


.project-metrics {
    margin: 3rem 0;
    border-radius: 3px;
    border: 1px solid $clr-border;
    box-shadow: 0 2px 0 0 rgba(0,0,0,.075);
}




.pm-l-cell-outer {
    padding: 1rem;

    // extension
    &.-border {

        // @media smartphone
        @media #{$small-only} {
            border-bottom: 1px solid $clr-border;

            &:last-child {
                border-bottom: none;
            }
        }

        // @media > smartphone
        @media #{$medium-up} {
            border-right: 1px solid $clr-border;

            &:last-child {
                border-right: none;
            }
        }
    }

    // extension
    &.-cell-2nd {

        // @media > smartphone
        @media #{$medium-up} {
            @include css-table-cell((width:200px, valign: top));
        }
    }

    // @media > smartphone
    @media #{$medium-up} {
        @include css-table-cell((valign: top));
    }
}








//
//  List Styles
//


/*ul*/.pm-list {
    @extend %list--plain;
    @extend .clearfix;
}


/*li*/.pm-item {

    // @media smartphone
    margin-bottom: 1rem;

    // @media > smartphone
    @media #{$medium-up} {
        @include list-item--inline((float: true));
        margin: 1rem 2rem 0 0;
    }
}




//
//  Layout Styles
//


.l-table {
    @include css-table((table-layout: fixed));
}


.l-cell {
    @include css-table-cell();
}


.l-cell--bottom--rwd {
    // @media > smartphone
    @media #{$medium-up} {
        @include css-table-cell((valign: bottom));
    }
}


.pm-l-cell {
    // @media > smartphone
    @media #{$medium-up} {
        @include css-table-cell((valign: bottom));
    }
}


.pm-l-cell--2nd {
    @extend .pm-l-cell;
    @extend .text--right;
}


.pm-text-1st {
    font-size: 1.5rem;
    font-weight: 600;
}


.pm-text-2nd {
    display: block;
    font-size: $fs-normal;
    color: $clr-body-light;
    font-weight: 600;
}




//
// Button Styles
//


%foundation-reset-btn-hover {
    &:hover {
        background-color: inherit;
        color: inherit;
    }
}


/*button*/%crwd-btn-simple {

    @extend %foundation-reset-btn-hover;

    margin:  0;
    padding: rem-calc(8px) rem-calc(16px);

    font-size: $fs-small;
    color:     $clr-body;

    border:        1px solid $clr-border;
    border-radius: $border-radius;
    transition:    border 0.3s ease;

    background-color: $white;

    &:hover {
        border-color: darken($clr-border, 10%);
    }

    &:focus {
        color: $clr-body;
        background-color: $white;
    }

    &[disabled] {
        color:  $clr-body;
        border: 1px solid $clr-border;
        background-color: $white;

        &:hover {
            background-color: $white;
            color: $clr-body;
        }

    }
}


/*button*/%crwd-btn-simple-shadow {

    @extend %foundation-reset-btn-hover;

    margin:  0;
    padding: rem-calc(8px) rem-calc(16px);

    font-size: $fs-small;
    color:     $clr-body;

    border:        none;
    border-radius: $border-radius;

    box-shadow: 0 2px 0 0 rgba($black, 0.25);

    transition:    background 0.3s ease;
}


/*button*/.pm-btn-simple {

    // @media smartphone
    @extend %crwd-btn-simple;
    width: 100%;

    // @media > smartphone
    @media #{$medium-up} {
        width: auto;
    }
}


/*button*/.pm-btn--success {

    @extend %crwd-btn-simple-shadow;
    margin: 0.25rem 0;
    width: 100%;

    background-color: rgba($clr-green-shade-2, 0.65);

    &:hover {
        background-color: rgba($clr-green-shade-2, 1);
    }
}


/*button*/.pm-btn--alert {

    @extend %crwd-btn-simple-shadow;
    margin: 0.25rem 0;
    width: 100%;

    background-color: rgba(255, 60, 60, 0.65);

    &:hover {
        background-color: rgba(255, 60, 60, 1);
    }
}




//
//  Divider
//

@mixin divider--with-text($options:()) {

    $options: map-merge(
        (
            word-width: 80px,
            border-color: rgb(130,130,130)
        ),

    $options);

    $half-word-width: map-get($options, word-width) / 2;
    $border: 1px solid map-get($options, border-color);

    position: relative;
    font-size: rem-calc(14px);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;

    &::before {
        content: '';
        position: absolute;
        width: calc(50% - #{$half-word-width});
        left: 0;
        top:  50%;
        border-bottom: $border;
    }

    &::after {
        content: '';
        position: absolute;
        width: calc(50% - #{$half-word-width});
        right: 0;
        top:   50%;
        border-bottom: $border;
    }
}


.pm-divider {
    @include divider--with-text((word-width: 60px));
    margin-top:    rem-calc(-8px);
    margin-bottom: rem-calc(16px);
    font-weight: 600;

    // @media > smartphone
    @media #{$medium-up} {
        margin-bottom: rem-calc(42px);
    }
}




//
// Project Description
//

%project-text-layout {

    // @media > smartphone
    @media #{$medium-up} {
        margin-right: 1rem;
        margin-left:  1rem;
    }
}

/*p*/.project-short-description {
    @extend %project-text-layout;
    margin-top:    3rem;
    margin-bottom: 3rem;
    padding-left:  1.5rem;
    font-size:   $fs-medium;
    line-height: 1.3333;
    border-left: rem-calc(4px) solid $clr-body;
}

.project-description {
    @extend %project-text-layout;
    white-space: pre-wrap;
}




//
//  Comments
//


.comments-box {
    @extend %set-v-margins;

    margin: 2rem 0;
    padding: 1rem;
    background-color: rgb(245, 245, 245);
    border-radius: 3px;

    @include box-shadow(('color': rgba(0,0,0,0.075)));
}


.comment-box {

    margin: 1rem 0;
    padding: 1rem;
    background-color: $white;
    border-radius: 3px;

    box-shadow: 0 2px 0 0 $clr-green-shade-3, 0 0 1px 0px rgba(0,0,0,0.3);

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}


.comment-user {
    color: $clr-blue-shade-2;
    font-weight: $fw-bold;
}


.comment-date {
    float: right;
    color: $clr-red-shade-2;
    font-size: $fs-small;
}


.comment-comment {
    margin-top: 1rem;
    white-space: pre-wrap;
}


/*textarea*/.newcomment-comment {
    min-height: rem-calc(180px);
    border-radius: $border-radius;
    border: 1px solid $clr-border;

    box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.05);

    transition: border .15s ease-in;

    &:focus {
        box-shadow: none;
        background-color: $white;
    }
}


/*button*/.newcomment-submit {
    display: block;
    margin:  0 auto;
}
