.project-details {
    background: $white;

    h1 {
        font-size: rem-calc(32);
        line-height: rem-calc(40);
        margin-bottom: rem-calc(16);
        font-weight: 600;
    }

    h2 {
        margin-bottom: rem-calc(72);
        font-size: rem-calc(24);
        line-height: rem-calc(30);
        color: $crowd-secondary-color;
        font-weight: normal;
    }

    .project-description {
        white-space: pre-wrap;
        line-height: rem-calc(24);
    }
}



// ---
// Status Widget
// ---


.project-status {

}


.project-status__creator {

}


.project-status__funding {

}




.project-status {

    margin: 50px 0;

    @media #{$medium-up} {
        display: table;
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
    }

    > div {
        border: 1px solid $crowd-color-light-grey;
        padding: 10px;

        @media #{$medium-up} {
            display: table-cell;
        }
    }

    .creator {
        white-space: nowrap;
        vertical-align: middle;

        img {
            @media #{$medium-up} {
                // display image above the name on non-smartphones
                display: block;

                // center image
                margin: 0 auto;
            }
            @media #{$small-only} {
                // on smartphones, the name is displayed next to the image. Add some space between them
                padding-right: 10px;
            }
        }

        .name {
            font-weight: 600;
        }
    }

    .funding-status {
        ul {
            margin: 0;
        }

        li {
            display: inline-block;
            margin: 0 50px 0 0;
            font-size: rem-calc(26);
            font-weight: 600;
        }

        li:last-child {
            margin-right: 0;
        }

        .pledge-info {
            white-space: nowrap;
        }

        small {
            display: block;
            font-size: rem-calc(12);
            font-weight: normal;
        }
    }

    .call-to-action {
        vertical-align: middle;
        text-align: center;

        button {
            margin: 10px;
            background-color: $crowd-primary-color;
        }
    }
}
