// ---
// Status Widget
// ---


.project-status {
  margin: 3rem 0;
  border: 1px solid $clr-border;
  border-radius: $border-radius;
  color: $clr-body;

  @media #{$medium-up} {
    @include css-table((table-layout: fixed));
  }
}


%project-status__cell {
  padding: 1rem;
  border-bottom: 1px solid $clr-border;

  &:last-child {
    border-right:  none;
    border-bottom: none;
  }

  @media #{$medium-up} {
    border-right:  1px solid $clr-border;
    border-bottom: none;
  }
}


.project-status__creator {
  @extend %project-status__cell;
  text-align:  center;
  line-height: 1.3333;

  @media #{$medium-up} {
    @include css-table-cell((width: 30%));
  }
}


.project-status__funding {
  @extend %project-status__cell;
  @media #{$medium-up} {
    @include css-table-cell((width: 55%));
  }
}


.project-status__cta {
  @extend %project-status__cell;
  white-space: nowrap;
  @media #{$medium-up} {
    @include css-table-cell((width: 195px));
  }
}


/*img*/.project-status__user-avatar {
  display: block;
  margin:  0 auto rem-calc(4px) auto;
}


/*ul*/.project-status__funding-list {
  @extend .clearfix;  // Foundation clearfix
  margin: 0;
  list-style-type: none;
  font-size: $fs-medium;
  font-weight: $fw-bold;

  > li {
    float: left;
    margin-right: 2rem;
  }
}


/*span*/.project-status__funding-cat {
  display: block;
  color: $clr-body-light;
  font-size: $fs-normal;
}


/*button*/.project-status__btn,
          .project-status__btn[disabled],
          .project-status__btn[disabled]:hover,
          .project-status__btn:focus {
  @extend .radius; // Foundation: button extension
  margin:  0 auto;
  padding: rem-calc(8px) rem-calc(16px);
  width: 100%;
  font-size: $fs-small;
  color: black;
  border: 1px solid #4BD489;
  background-color: transparent;
  box-shadow: 0 2px 0 0 #4BD489;

  &:hover {
    color: $black;
    background-color: $clr-bg;
    box-shadow: 0 2px 0 0 #35EA87;
    border: 1px solid #35EA87;
  }

  &[disabled]:hover {
    background-color: transparent;
    box-shadow: 0 2px 0 0 #4BD489;
  }
}
