/***
 * Project List & Home
 *
 */



//
// Global vars and calculations
//


// Calculate width of a project tile depending on content-width, tiles, gutter

$content-width:   rem-calc(1000px);
$tiles:           3;       // Tiles on one row
$tile-gutter:     0.5rem;  // Horizonatal margins
$tile-width:      ($content-width - ($tile-gutter * $tiles * 2)) / $tiles;

// Other tile vars

$tile-padding:    rem-calc(20px);
$metrics-height:  rem-calc(42px);   // Metrics object in a tile

// Define mediaquery that formattes tiles in 2 ways:
// 1) tile width: 100% for browser widths that can contain only 1 tile, and
// 2) fixed width (see above) for browser widths that can contain more than 1 tile

$page-padding: rem-calc(40px);
$tile-break:   "only screen and (min-width: #{$tile-width * 2 + $tile-gutter * 4 + $page-padding * 2 + rem-calc(1px)})";




//
// Mixins
//


@mixin limit-lines ($lines, $font-size, $line-height) {
    font-size: $font-size;
    line-height: $line-height;
    max-height: ($lines * $font-size * $line-height);
    overflow: hidden;
}




//
// Headings
//


/*h2*/.plist__heading {
    margin: 0 0 1rem 0;
    font-size:     2rem;
    font-weight:   300;
    line-height:   1.3333;
    color:         #4B51D4;
    text-align:    center;
}


/*h2*/.plist__heading--secondary {
    @extend .plist__heading;
    color: #D44B95;
}


/*p*/.plist__intro {
    font-size:   rem-calc(18px);
    line-height: 1.5;
    color:       #2D2D2D;
    text-align:  center;
}


/*p*/.plist__intro--has-divider {
    @extend .plist__intro;
    @include typographic-divider();
}




//
// Pills
//


/*span*/.plist__pill {
    position: relative;
    margin:   0 rem-calc(4px);
    padding:  rem-calc(2px) rem-calc(8px);

    color: $white;
    letter-spacing: 0.5px;

    background-color: $clr-red-shade-2;
    border-radius: rem-calc($border-radius);

    &:first-of-type {
        margin-left: 0;
    }
}




//
// Tiles
//


%tile {
    //overflow: hidden;
    border: none;
    border-radius: $border-radius;
    background-color: $white;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),   // Shadow below
                0 0 2px 0 rgba(0,0,0,0.1);   // Outline-like shadow
}


// This is our flex container housing a list projects

/*ul*/.project__ul {

    @extend %list--plain;

    @media #{$tile-break} {
        display:   flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}


// This is our flex item

/*li*/.project__li {
    margin: 1rem $tile-gutter;
}


// This is a project tile

.project__tile {
    @extend   %tile;
    position: relative;
    width:    100%;
    padding:  $tile-padding;
    padding-bottom: $tile-padding + $metrics-height * 2;
    color:    #2d2d2d;
    cursor:   pointer;

    & > * {

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media #{$tile-break} {
    // @media #{$medium-up} {
        width: $tile-width;
    }
}


// Class extensions for tiles

@mixin project-status($options:()) {
    $options: map-merge((

        selector : '.tile__status', // Nested selector to apply our stlyes
        content  : '',              // CSS content to apply
        bg-tile  : $white,          // BG color for tile
        bg-status: $black           // BG color for status pill

        ), $options);

    // Set BG color of our tile

    background-color: map-get($options, bg-tile);

    // Apply styles to nested selector specified above

    #{map-get($options, selector)} {
        display: block;   // Revert default display: none
        background-color: map-get($options, bg-status);

        // Set CSS content

        &::after {
            content: map-get($options, content);
        }
    }
}


.project-proposed {
    @include project-status((content: 'In Freigabe', bg-status: #4B51D4, bg-tile: rgba(223, 223, 223, 0.5)));
}


%project-published {
    // Nothing here at the moment
}


.project-fully_pledged {
    @include project-status((content: '100% finanziert', bg-status: #39C277, bg-tile: rgba(60, 195, 120, 0.25)));
}


.project-rejected {
    @include project-status((content: 'Leider abgelehnt :(', bg-tile: rgba(255, 60, 60, 0.25)));
}



// Every tile has a status div, that gets activated by additional classes:
// project-PROPOSED, project-PUBLISHED, project-FULLY_PLEDGED, project-REJECTED

.tile__status {
    display:  none;
    position: relative;
    float: right;
    top:   0.25rem;
    padding:   rem-calc(2px) rem-calc(6px);
    font-size: 10px;
    letter-spacing: 1px;
    color: $white;
    background-color: $black;
    border-radius: rem-calc(3px);
}





// Metrics

.tile__metrics {
    position:  absolute;
    width:     calc(100% - #{$tile-padding * 2});  // Because of absolute positioning,
    // the width 100% is as wide as the tile, ignoring the tile's padding
    // -> substract the padding
    height:    $metrics-height;
    left:      $tile-padding;
    bottom:    $tile-padding;
    font-size: rem-calc(14px);
}


// Headings + Text


/*h3*/.tile__heading {
    @include limit-lines(1, 20px, 1.4);
    @extend  %full-width;
    @extend  %font-smoothing;
    margin:  0 0 2rem 0;
    font-weight: 600;
}


/*p*/.tile__short-desc {
    @include limit-lines(4, 16px, 1.5);
    @extend %full-width;
    margin: 0;
}




// Section with Dein Budget / Du / Dein Zeitrahmen

.intro-section {
    text-align: center;

    .container > p {
        max-width: rem-calc(700);
        text-align: center;
        margin-left: auto;
        margin-right: auto;

    }

    .info-boxes {
        @media #{$small-up} {
            @include block-grid(
                $per-row: 1,
                $spacing: 5px
            );
        }
        @media #{$medium-up} {
            @include block-grid(
                $per-row: 3,
                $spacing: 20px
            );
        }

        h2 {
            font-size: rem-calc(20);
        }

        .divider {
            margin-bottom: 10px;
        }
    }
}
