/***
 * Project List & Home
 *
 */




//
// Mixins
//


@mixin limit-lines ($lines, $font-size, $line-height) {
    font-size: $font-size;
    line-height: $line-height;
    max-height: ($lines * $font-size * $line-height);
    overflow: hidden;
}




//
// Headings
//


/*h2*/.plist__heading {
    margin: 0 0 1rem 0;
    font-size:     2rem;
    font-weight:   300;
    line-height:   1.3333;
    color:         #4B51D4;
    text-align:    center;
}


/*h2*/.plist__heading--secondary {
    @extend .plist__heading;
    color: #D44B95;
}


/*p*/.plist__intro {
    font-size:   rem-calc(18px);
    line-height: 1.5;
    color:       #2D2D2D;
    text-align:  center;
}


/*p*/.plist__intro--has-divider {
    @extend .plist__intro;
    @include typographic-divider();
}




//
// Pills
//


/*span*/.plist__pill {
    position: relative;
    margin:   0 4px; // 0 rem-calc(4px) 0 rem-calc(16px);
    padding:  rem-calc(2px) rem-calc(8px);

    color: $white;
    letter-spacing: 1px;

    background-color: $clr-red-shade-2;
    border-radius: rem-calc($border-radius);

    &:first-of-type {
        margin-left: 0;
    }
}




//
// Tiles
//


%tile {
    border: none;
    border-radius: $border-radius;
    background-color: $white;
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.1),   // Shadow below
                0 0 2px 0 rgba(0,0,0,0.1);   // Outline-like shadow
}


$container-width: rem-calc(1000px);
$tiles:           3;
$tile-gutter:     1rem;
$tile-width:      ($container-width - ($tile-gutter * $tiles * 2)) / $tiles;
$tile-padding:    rem-calc(20px);
$metrics-height:  rem-calc(42px);


// This is our flex container housing a list projects

/*ul*/.project__ul {

    @extend %list--plain;

    @media #{$medium-up} {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}


// This is our flex item

/*li*/.project__li {
    margin: 1rem $tile-gutter;
}


// This is a project tile

.project__tile {
    @extend   %tile;
    position: relative;
    width:    100%;
    padding:  $tile-padding;
    padding-bottom: $tile-padding + $metrics-height * 2;
    color:    #2d2d2d;
    cursor:   pointer;

    & > * {

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media #{$medium-up} {
        width: $tile-width;
    }
}


// Metrics

.tile__metrics {
    position:  absolute;
    width:     calc(100% - #{$tile-padding * 2});
    height:    $metrics-height;

    left:      $tile-padding;
    bottom:    $tile-padding;
    font-size: rem-calc(14px);
}


// Headings + Text


/*h3*/.tile__heading {
    @include limit-lines(1, 20px, 1.4);
    @extend  %full-width;
    @extend  %font-smoothing;
    margin:  2rem 0;
    font-weight: 600;
}


/*p*/.tile__short-desc {
    @include limit-lines(4, 16px, 1.5);
    @extend %full-width;
    margin: 0;
}



// Section with Dein Budget / Du / Dein Zeitrahmen

.intro-section {
    text-align: center;

    .container > p {
        max-width: rem-calc(700);
        text-align: center;
        margin-left: auto;
        margin-right: auto;

    }

    .info-boxes {
        @media #{$small-up} {
            @include block-grid(
                $per-row: 1,
                $spacing: 5px
            );
        }
        @media #{$medium-up} {
            @include block-grid(
                $per-row: 3,
                $spacing: 20px
            );
        }

        h2 {
            font-size: rem-calc(20);
        }

        .divider {
            margin-bottom: 10px;
        }
    }
}






// Project Tiles

.__project-list {
    ul {
        @media #{$small-up} {
            @include block-grid(1);
        }
        @media #{$medium-up} {
            @include block-grid(2);
        }
        @media #{$large-up} {
            @include block-grid(3);
        }
    }

    .project-tile {
        $project-tile-padding: 20px;
        $project-tile-metrics-height: 50px;

        @extend .panel;

        border: none;
        border-radius: $border-radius;
        background-color: $white;
        box-shadow: 0 1px 0 0 rgba(0,0,0,0.1),   // Shadow below
                    0 0 2px 0 rgba(0,0,0,0.1);   // Outline-like shadow


        margin-bottom: 0;
        padding-bottom: $project-tile-metrics-height + 20px;
        cursor: pointer;
        position: relative; // for positioning the metrics absolutely

        h1 {
            @include limit-lines(2, 20px, 1.5);
            margin-bottom: rem-calc(24px);
            -webkit-font-smoothing: antialiased;
            font-size: rem-calc(22px);
            font-weight: 600;
        }

        p {
            @include limit-lines(4, 16px, 1.5);
            margin-bottom: 1.5rem;
        }

        .metrics {
            height: $project-tile-metrics-height;
            position: absolute;
            bottom: $project-tile-padding;

            // because of absolute positioning, the width 100% is
            // as wide as the tile, ignoring the tile's padding -> substract the padding
            width: calc(100% - (#{$project-tile-padding} * 2));

            .label {
                margin: 0 5px 0 15px;
            }

            .label:first-child {
                margin-left: 1px;
            }
        }
    }
}
