.project-form {

    background-color: $white;

    .form-controls-short-description textarea {
        height: rem-calc(100);
    }

    .form-controls-pledge-goal .table {
        width: rem-calc(150);
    }

    .form-controls-description textarea {
        height: rem-calc(300);
    }

}
