<content-row class="project-details">
    <h1>{{ projectDetails.project.title }}</h1>

    <div class="project-status">

        <div class="project-status__creator">
            <img class="project-status__user-avatar" src="app/user/avatar.svg">
            von <strong class="text--strong">{{ projectDetails.project.creator.name }}</strong>
        </div>

        <div class="project-status__funding">
            <progress-bar value="projectDetails.project.pledgedAmount" maximum="projectDetails.project.pledgeGoal"></progress-bar>

            <ul class="project-status__funding-list">
                <li>
                    <span class="project-status__pledged-amount">${{ projectDetails.project.pledgedAmount | number }}</span> /
                    <span class="project-status__pledge-goal">${{ projectDetails.project.pledgeGoal | number }}</span>
                    <span class="project-status__funding-cat">Finanzierung</span>
                </li>
                <li>
                    <span class="project-status__backers">{{ projectDetails.project.backers }}</span>
                    <span class="project-status__funding-cat">Förderer</span>
                </li>
            </ul>
        </div>

        <div class="project-status__cta">
            <div>
                <button class="project-status__btn  to-pledging-form-button"
                        scroll-to="project-pledging-form"
                        ng-disabled="projectDetails.project.status == 'FULLY_PLEDGED'">
                    <span ng-if="projectDetails.project.status == 'FULLY_PLEDGED'">Zu 100% finanziert!</span>
                    <span ng-if="projectDetails.project.status != 'FULLY_PLEDGED'">Zur Finanzierung</span>
                </button>
            </div>
            <div ng-if="projectDetails.project.status != 'PUBLISHED' && projectDetails.auth.currentUser.hasRole('ADMIN')">
                <button class="project-status__btn  publish-button" ng-click="projectDetails.publish()" ng-disabled="projectDetails.publishing" confirmed>
                    {{ projectDetails.publishing ? 'Veröffentlichen...' : 'Veröffentlichen' }}
                </button>
            </div>
            <div ng-if="projectDetails.project.status != 'REJECTED' && projectDetails.auth.currentUser.hasRole('ADMIN')">
                <button class="project-status__btn  reject-button" ng-click="projectDetails.reject()" ng-disabled="projectDetails.rejecting" confirmed>
                    {{ projectDetails.rejecting ? 'Ablehnen...' : 'Ablehnen'}}
                </button>
            </div>
        </div>

    </div>

    <h2>{{ projectDetails.project.shortDescription}}</h2>

    <div class="project-description">{{ projectDetails.project.description }}</div>

    <project-pledging-form id="project-pledging-form" project="projectDetails.project"></project-pledging-form>

    <p class="push-down">
        <a href="#/projects">zurück zur Übersicht</a>
    </p>

    <div ng-if="projectDetails.auth.currentUser.loggedIn">
        <project-comments project="projectDetails.project"></project-comments>
    </div>

</content-row>
