<form name="pledgingForm.form" class="pledging-form" novalidate>

    <range-slider ng-model="pledgingForm.pledge.amount" start="0" end="{{ pledgingForm.getPledgableAmount() }}"
                  disabled="pledgingForm.getPledgableAmount() == 0"></range-slider>

    <div class="row collapse">
        <div class="small-3 columns form-controls-amount">
            <label form-group="amount">
                <input type="number" name="amount" ng-model="pledgingForm.pledge.amount" ng-disabled="pledgingForm.getPledgableAmount() == 0"
                       placeholder="Finanzierungsbetrag"
                       required min="1" ng-max="pledgingForm.getPledgableAmount()" style="margin-bottom: 0">

                <span form-label-valid="amount">Dein Investment</span>

                <span form-label-invalid="amount" ng-messages="pledgingForm.form.amount.$error">
                    <span ng-message="required">Bitte gib deinen gewünschten Finanzierungsbetrag ein</span>
                    <span ng-message="min">Der Finanzierungsbetrag muss größer 0 sein</span>
                    <span ng-message="max">Der Finanzierungsbetrag übersteigt deinem Budget oder der noch zu finanzierenden Höhe</span>
                </span>
            </label>
        </div>
        <div class="small-3 small-offset-6 text-right columns">
            ${{ pledgingForm.getPledgableAmount() }}
        </div>
    </div>

    <div class="row collapse" style="margin-top: 20px;">
        <div class="small-3 columns">
            ${{ pledgingForm.project.pledgedAmount + pledgingForm.pledge.amount }} / ${{ pledgingForm.project.pledgeGoal }}<br/>
            Finanzierung
        </div>
        <div class="small-3 columns">
            ${{ pledgingForm.user.budget - pledgingForm.pledge.amount }}<br/>
            Dein Budget
        </div>
        <div class="small-3 columns">
            <button class="success postfix" ng-click="pledgingForm.pledgeProject()" ng-disabled="pledgingForm.form.$invalid">Jetzt finanzieren</button>
        </div>
    </div>
</form>
