<div class="comments" ng-show="projectComments.comments.length > 0">
    <div ng-repeat="comment in projectComments.comments" class="comment-box comment">
        <div>
            <span class="comment-user">{{comment.userName}}</span><span class="comment-date">{{comment.created | date: 'short'}}</span>
        </div>
        <div class="comment-comment">{{comment.comment}}</div>
    </div>
</div>

<div class="comments-box new-comment">
    <form name="projectComments.form">

        <div class="general-error alert-box alert" ng-messages="projectComments.generalErrors" ng-if="projectComments.generalErrors">
            <span ng-message="remote_unknown">Es ist ein Fehler aufgetreten. Bitte versuche es erneut.</span>
        </div>

        <div class="form-controls-comment">
            <label form-group="comment">
                <span form-label-valid="comment"></span>

                <div class="push--bottom" form-label-invalid="comment" ng-messages="projectComments.form.comment.$error">
                    <span ng-message="required">Bitte gib einen Kommentar ein</span>
                </div>

                <textarea class="newcomment-comment" name="comment" ng-model="projectComments.newComment.comment" required></textarea>
            </label>
        </div>

        <button type="submit" class="crwd-success radius shadow margin-top newcomment-submit"
                ng-click="projectComments.storeComment(projectComments.newComment)"
                ng-disabled="projectComments.form.$invalid || projectComments.loading">

            {{ projectComments.loading ? 'Kommentieren...' : 'Kommentieren' }}
        </button>
    </form>
</div>
