<content-row class="signup-form">
    <form name="signup.form" class="box" novalidate>

        <div class="row">
            <div class="small-12 columns">
                <h1>Registrierung</h1>
            </div>
        </div>


        <div class="general-error alert-box alert" ng-messages="signup.generalErrors" ng-if="signup.generalErrors">
            <span ng-message="remote_unknown">Es ist ein Fehler aufgetreten. Bitte versuche es erneut.</span>
        </div>

        <div class="row">
            <email-form-group model="signup.user.email" field-name="email"
                              class="small-12 columns form-controls-email"/>
        </div>

        <div class="row">
            <div class="small-12 columns form-controls-termsofservice">
                <label form-group="termsOfServiceAccepted">

                    <input type="checkbox" name="termsOfServiceAccepted" ng-model="signup.user.termsOfServiceAccepted" required>

                    <span form-label-valid="termsOfServiceAccepted">
                        Ich akzeptiere die
                        <a class="crowd-tos-link" ng-click="signup.showTermsOfService = !signup.showTermsOfService">AGB</a>
                    </span>

                    <span form-label-invalid="termsOfServiceAccepted" ng-messages="signup.form.termsOfServiceAccepted.$error">
                        <span ng-message="required">Bitte akzeptiere die
                            <a class="crowd-tos-link" ng-click="signup.showTermsOfService = !signup.showTermsOfService">AGB</a>
                        </span>
                    </span>
                </label>
            </div>
        </div>

        <div class="row" ng-if="signup.showTermsOfService">
            <div class="small-12 columns">
                <div class="crowd-tos-panel panel callout radius font-small">
                    Damit Du immer über Neuigkeiten der Platform, wie bspw. den Start einer Finanzierungsrunden sowie den Status deiner Idee informiert wirst, werden wir Dir ab und zu E-Mails schicken.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns text-center">
                <div>
                    <button type="submit" class="crwd-success radius shadow margin-top"
                            ng-click="signup.signUp()" ng-disabled="signup.loading"
                            analytics-on="click" analytics-category="UserActions" analytics-event="SignUp">
                        {{ signup.loading ? 'Registrieren...' : 'Registrieren' }}
                    </button>
                </div>
                <div class="text--small push--top">
                    <a href="#/login">oder hier anmelden</a>
                </div>
            </div>
        </div>

    </form>
</content-row>
