accordion-item {
    .content {
        // the accordion is implemented in angular (see accordion directive)
        // and is hidden and shown by angular
        display: block !important;
    }

    li {
        margin: 1rem 0;
    }

    a {
        text-decoration: none;
        position: relative;

        &::after {
            transition: all 0.2s;

            position: absolute;
            top: calc(50% - 10px);
            right: 12px;
            content: '\25bc';
            font-size: 14px;
        }
    }

    .accordion-navigation.accordion-active > a {
        background-color: gainsboro;

        &::after {
            transform: scaleY(-1);
        }
    }
}
