<div class="contain-to-grid" foundation-reflow="topbar">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a href="#/projects"><img class="site-logo" src="images/logo-crowd-beta.png" height="25" alt="Crowdsource Beta"></a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a><span></span></a></li>
        </ul>

        <section class="top-bar-section">
            <ul class="right">
                <li ng-class="nav.getClassForMenuItem('/project/new')" class="border new-project"><a href="#/project/new">Neues Projekt</a></li>
                <li ng-if="!nav.auth.currentUser.loggedIn" ng-class="nav.getClassForMenuItem('/login')" class="login"><a href="#/login">Login</a></li>
                <li ng-if="!nav.auth.currentUser.loggedIn" ng-class="nav.getClassForMenuItem('/signup')" class="register"><a href="#/signup">Registrieren</a></li>
                <li ng-if="nav.auth.currentUser.loggedIn" ng-class="nav.getClassForMenuItem('/logout')" class="logout"><a href="#/logout">Logout</a></li>
            </ul>
        </section>
    </nav>
</div>
