<h1>Signup</h1>

<form name="signup.form" novalidate>

    <div class="alert alert-danger" ng-if="signup.generalErrorOcurred">
        Es ist ein Fehler aufgetreten. Bitte versuchen Sie es erneut.
    </div>

    <div class="form-group" ng-class="{ 'has-error': signup.form.$submitted && !signup.form.email.$valid }">
        <label>Email address</label>

        <input type="email" name="email" ng-model="signup.user.email" class="form-control" required>

        <div ng-messages="signup.form.email.$error" ng-if="signup.form.$submitted">
            <!-- required and 'email' are build-in validations of angular.js -->
            <div ng-message="required">Dieses Feld ist ein Pflichtfeld</div>
            <div ng-message="email">Bitte geben Sie eine gültige Email-Adresse ein</div>
            <div ng-message="already_activated">
                Ihre Email-Adresse wurde bereits aktiviert. Sie können sich mit Ihrem Passwort bereits einloggen. Falls Sie Ihr Passwort vergessen haben,
                dann klicken Sie bitte <a href="#/passwordrecovery">hier</a>.
            </div>
            <div ng-message="not_eligible">
                Sie müssen eine @axelspringer.de Addresse besitzen, um sich registrieren zu können.
            </div>
        </div>
    </div>

    <div class="checkbox" ng-class="{ 'has-error': signup.form.$submitted && !signup.form.termsOfServiceAccepted.$valid }">
        <label>
            <input type="checkbox" name="termsOfServiceAccepted" ng-model="signup.user.termsOfServiceAccepted" required>
            Ich akzeptiere die <a ng-click="signup.showTermsOfService = !signup.showTermsOfService">AGB</a>
        </label>

        <div ng-if="signup.showTermsOfService">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
            At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
            amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
            justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </div>

        <div ng-messages="signup.form.termsOfServiceAccepted.$error" ng-if="signup.form.$submitted">
            <div ng-message="required">Bitte akzeptieren Sie die AGBs</div>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary" ng-click="signup.signUp()">
            {{ signup.loading ? 'signing up...' : 'signup' }}
        </button>
    </div>
</form>