<content-row class="financing-round-overview box-wide">
    <form name="financingRound.form" novalidate>
        <h1>Administration der Finanzierungsrunden</h1>

        <table>
            <thead>
            <tr>
                <th width="150">Startdatum</th>
                <th width="150">Enddatum</th>
                <th width="150">Budget</th>
                <th width="100">aktiv</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="fr in financingRound.allFinancingRounds">
                <td>{{ fr.start | date }}</td>
                <td>{{ fr.end | date}}</td>
                <td>{{ fr.value }}</td>
                <td>{{ fr.active }}</td>
            </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="columns form-controls-budget">
            <label form-group="endDate">

                    <span form-label-valid="endDate">Enddatum der Finanzierungsrunde</span>

                    <span form-label-invalid="endDate" ng-messages="financingRound.form.endDate.$error">
                        <span ng-message="required">Bitte wähle das Enddatum der Finanzierungsrunde</span>
                    </span>

                    <input mydatepicker="" name="endDate" ng-model="financingRound.endDate"
                           placeholder="Bitte klicken..." required readonly>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="columns form-controls-budget">
                <label form-group="budget">

                    <span form-label-valid="budget">Budget</span>

                    <span form-label-invalid="budget" ng-messages="financingRound.form.budget.$error">
                        <span ng-message="required">Bitte gib das Budget an</span>
                        <span ng-message="number">Bitte gib nur Ziffern ein</span>
                        <span ng-message="pattern">Bitte gib nur Ziffern ein</span>
                        <span ng-message="min">Bitte gib einen Wert über Null ein</span>
                    </span>
                </label>

                <div class="table">
                    <div class="table-cell full-width">
                        <input type="number" name="budget" ng-model="financingRound.budget" class="text-right"
                               placeholder="0"
                               required ng-pattern="/^[0-9]+$/i" min="1">
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="financingRound.alreadyActive">
            Es läuft bereits eine Finanzierungsrunde. Daher kann keine neue Runde gestartet werden.
        </div>

        <button type="submit" class="success margin-top" ng-click="financingRound.start()"
                ng-disabled="financingRound.saving || financingRound.alreadyActive">
        {{ financingRound.saving ? 'Starten...' : 'Starten!' }}
        </button>
    </form>
</content-row>