<content-row class="financinground-overview box-wide">
    <form>
        <h1>Administration der Finanzierungsrunden</h1>


        <div class="row">
            <div class="small-12 columns form-controls-title">
                <label form-group="title">

                    <span>Enddatum der Finanzierungsrunde</span>

                    <input mydatepicker="" name="startdate" ng-model="projectForm.project.title"
                           placeholder="Bitte klicken...">
                </label>
            </div>
        </div>

        <button type="submit" class="success margin-top" ng-click="" ng-disabled="">
            Starten
        </button>
    </form>
</content-row>