<content-row class="login-form">
    <form name="login.form" class="box" novalidate>

        <div class="row">
            <div class="small-12 columns">
                <h1>
                    Login

                    <small class="right push--top">
                        <a class="password-recovery-link  text--small" href="#/login/password-recovery">Passwort vergessen?</a>
                    </small>
                </h1>
            </div>
        </div>

        <div class="small-12 columns">
            <div class="general-error alert-box alert" ng-messages="login.generalErrors" ng-if="login.generalErrors">
              <span ng-message="remote_bad_credentials">Deine Anmeldeinformationen sind ungültig. Bitte überprüfe die eingegebenen Daten.</span>
              <span ng-message="remote_unknown">Es ist ein Fehler aufgetreten. Bitte versuche es erneut.</span>
            </div>
        </div>

        <div class="row">
            <email-form-group model="login.user.email" field-name="email"
                              class="small-12 columns form-controls-email" />
        </div>

        <div class="row">
            <div class="small-12 columns form-controls-password">
                <label form-group="password">

                    <span form-label-valid="password">Passwort</span>

                    <span form-label-invalid="password" ng-messages="login.form.password.$error">
                        <span ng-message="required">Bitte gib Dein Passwort ein</span>
                    </span>

                    <input type="password" name="password" ng-model="login.user.password"
                           required reset-remote-validation>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns text-center">
                <div>
                    <button type="submit" class="crwd-success radius shadow margin-top" ng-click="login.login()" ng-disabled="login.loading">
                        {{ login.loading ? 'Login...' : 'Login' }}
                    </button>
                </div>
                <div class="text--small push--top">
                    <a href="#/signup">oder hier registrieren</a>
                </div>
            </div>
        </div>
    </form>
</content-row>
