<form name="loginForm" novalidate>

    <div class="inline-modal">

        <h3 class="margin-bottom">Login</h3>

        <div class="general-error alert-box alert" ng-messages="generalErrors" ng-if="generalErrors">
            <span ng-message="remote_bad_credentials">Ihre Anmeldeinformationen sind ungültig. Bitte überprüfen Sie Ihre eingegebenen Daten.</span>
            <span ng-message="remote_unknown">Es ist ein Fehler aufgetreten. Bitte versuchen Sie es erneut.</span>
        </div>

        <div class="row">
            <email-form-group form="loginForm" model="user.email" field-name="email"
                              class="small-12 columns form-controls-email" />
        </div>

        <div class="row">
            <div class="small-12 columns form-controls-password">
                <label form-group="password">

                    <span form-label-valid="password">Passwort</span>

                    <span form-label-invalid="password" ng-messages="loginForm.password.$error">
                        <span ng-message="required">Bitte geben Sie Ihr Passwort ein</span>
                    </span>

                    <input type="password" name="password" ng-model="user.password"
                           required reset-remote-validation>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns text-center">
                <div>
                    <button type="submit" class="success margin-top" ng-click="login()" ng-disabled="loading">
                        {{ loading ? 'Login...' : 'Login' }}
                    </button>
                </div>
                <div>
                    oder <a href="#/signup">hier geht's zur Registrierung</a>
                </div>
            </div>
        </div>

    </div>
</form>