<content-row class="activation-form box">
    <form name="activation.form" novalidate>

        <h1>Registrierung - Letzte Schritte</h1>

        <div class="margin-bottom-small">Bitte vergib ein Passwort, um die Aktivierung Deines Kontos abzuschließen.</div>

        <div class="general-error alert-box alert" ng-messages="activation.generalErrors" ng-if="activation.generalErrors">
            <span ng-message="remote_already_activated">
                Dein Konto wurde bereits aktiviert. Du kannst Dich mit Deine Email-Adresse und Deinem Passwort <a href="#/login">einloggen</a>.
            </span>
            <span ng-message="remote_activation_token_invalid">Der Aktivierungslink ist ungültig. Bitte <a href="#/signup">registriere</a> Dich erneut um einen neuen Aktivierungslink zugesendet zu bekommen.</span>
            <span ng-message="remote_not_found">Du musst Dich zunächst mit Deiner Email-Adresse <a href="#/signup">registrieren</a>.</span>
            <span ng-message="remote_unknown">Es ist ein Fehler aufgetreten. Bitte versuche es erneut.</span>
        </div>

        <div class="row">
            <div class="small-12 columns form-controls-password">
                <label form-group="password">

                    <span form-label-valid="password">Passwort</span>

                    <span form-label-invalid="password" ng-messages="activation.form.password.$error">
                        <span ng-message="required">Bitte gib Dein Passwort ein</span>
                        <span ng-message="pattern">Das Passwort muss aus mindestens 8 Zeichen und einem Sonderzeichen bestehen</span>
                    </span>

                    <input type="password" name="password" ng-model="activation.user.password"
                           required pattern="^(?=.*\W)(?=\S+$).{8,}$" reset-remote-validation>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns form-controls-repeated-password">
                <label form-group="repeatedPassword">

                    <span form-label-valid="repeatedPassword">Passwort wiederholen</span>

                    <span form-label-invalid="repeatedPassword" ng-messages="activation.form.repeatedPassword.$error">
                        <span ng-message="required">Bitte gib Dein Passwort erneut ein</span>
                        <span ng-message="remote_equal">Die beiden Passwörter stimmen nicht überein</span>
                    </span>

                    <input type="password" name="repeatedPassword" ng-model="activation.user.repeatedPassword"
                           required reset-remote-validation>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns text-center">
                <div>
                    <button type="submit" class="success margin-top" ng-click="activation.activate()" ng-disabled="activation.loading">
                        {{ activation.loading ? 'Speichern...' : 'Speichern' }}
                    </button>
                </div>
            </div>
        </div>

    </form>
</content-row>
