<form name="activationForm" novalidate>

    <div class="row">
        <div class="small-12 medium-8 medium-offset-2 large-6 large-offset-3 columns panel light radius">

            <h3 class="margin-bottom">Registrierung - Letzte Schritte</h3>

            <div class="margin-bottom-small">Bitte geben Sie Ihr Passwort ein, um Ihr Konto abschließend zu aktivieren.</div>

            <div class="general-error alert-box alert" ng-if="generalErrorOcurred">
                Es ist ein Fehler aufgetreten. Bitte versuchen Sie es erneut.
            </div>

            <div class="row">
                <div class="small-12 columns form-controls-password">
                    <label form-group="password">

                        <span form-label-valid="password">Passwort</span>

                        <span form-label-invalid="password" ng-messages="activationForm.password.$error">
                            <span ng-message="required">Bitte geben Sie Ihr Passwort ein</span>
                        </span>

                        <input type="password" name="password" ng-model="user.password"
                               required reset-remote-validation>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="small-12 columns form-controls-repeated-password">
                    <label form-group="repeatedPassword">

                        <span form-label-valid="repeatedPassword">Passwort wiederholen</span>

                        <span form-label-invalid="repeatedPassword" ng-messages="activationForm.repeatedPassword.$error">
                            <span ng-message="required">Bitte geben Sie Ihr Passwort erneut ein</span>
                            <span ng-message="remote_equal">Die beiden Passwörter stimmen nicht überein</span>
                        </span>

                        <input type="password" name="repeatedPassword" ng-model="user.repeatedPassword"
                               required reset-remote-validation>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="small-12 columns text-center">
                    <div>
                        <button type="submit" class="success margin-top" ng-click="activate()" ng-disabled="loading">
                            {{ loading ? 'Speichern...' : 'Speichern' }}
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>