<div class="footer">
    <div class="row">
        <ul class="footer__col">
            <li class="footer__item-head">AS Crowd</li>
            <li ng-if="!footer.auth.currentUser.loggedIn"><a href="#/login">Log In</a></li>
            <li ng-if="!footer.auth.currentUser.loggedIn"><a href="#/signup">Registrieren</a></li>
            <li><a href="#/projects">Entdecken</a></li>
        </ul>
        <ul class="footer__col">
            <li class="footer__item-head">Hilfe</li>
            <li><a href="#/about">Über uns</a></li>
            <li><a href="#/faq">FAQ</a></li>
        </ul>
        <ul class="footer__col" ng-if="footer.auth.currentUser.hasRole('ADMIN')">
            <li class="footer__item-head">Admin</li>
            <li class="admin"><a href="#/financingrounds">Finanzierungsrunden</a></li>
        </ul>
        <ul class="footer__col-brand">
            <li class="footer__item-head-se">
                Axel Springer SE
            </li>
        </ul>
    </div>
</div>
