[Unit]
Description=Crowdfunding project
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill crowdsource
ExecStartPre=-/usr/bin/docker rm crowdsource
ExecStartPre=-/usr/bin/docker login -e crowdsource@asideas.de -p ideas987 -u asjenkins
ExecStartPre=/usr/bin/docker pull asideas/crowdsource
ExecStart=/usr/bin/docker run -p 8080:8080 --name="crowdsource" "asideas/crowdsource:latest"
ExecStop=/usr/bin/docker stop crowdsource

[Install]
WantedBy=multi-user.target

[X-Fleet]

