Hallo #{#userName},

Dein Projekt wurde erfolgreich freigegeben!
Weitere Informationen hinsichtlich des Prozesses kannst Du der FAQ entnehmen.

Zu Deinem Projekt:

#{#link}

Mit freundlichen Grüßen
Dein CrowdSource Team