<!doctype html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>CrowdSource</title>

    <link rel="stylesheet" href="css/crowdsource.css" th:href="@{${@environment.getProperty('de.asideas.crowdsource.frontend.css.base.url')}}" />

    <script src="app/libs.min.js"></script>
    <script src="app/crowdsource.min.js"></script>
    <script src="/config.js"></script>
</head>
<body>
<div class="page-wrapper">
    <nav-bar></nav-bar>
    <teaser></teaser>
    <status-bar></status-bar>

    <div class="content" data-ng-view="" autoscroll="true">
        <div class="browser-fallback" style="display: none">
            <h2 class="plist__heading"><content key="de.asideas.crowdsource.content.application.name" /></h2>

            <p class="plist__intro--has-divider">Dein Browser wird in seiner aktuellen Version nicht von uns
                unterstützt. Bitte update ihn, um teilnehmen zu können.</p>

            <p class="plist__intro--has-divider">Wir unterstützen Chrome ab Version 39, Firefox ab Version 24,
                Safari ab Version 8, Internet Explorer ab Version 9.</p>
        </div>
    </div>
</div>
<footer></footer>
<script th:replace="fragments/footer :: footer_scripts"></script>
</body>
</html>
