body, p {
 font-weight: 300;
}

a {
 &:link {
  color:$orange;;
 }
 &:visited {
  color:$orange;;
 }
 &:hover, &:active, &:focus {
  color:$orange;;
 }
}

#header {
 background: $white;
 font-size: 1rem;
 .name{
  font-weight: 600;
  padding: 0.5rem 0 0.5rem 1rem;
 }
 .info {
  font-weight: 300;
  padding: 0.5rem 0;
  .remainingMoney {
   &.empty {
    color: $red;
   }
   &.stuffed {
    color: $green;
   }
  }
  .remainingTime {
  }
 }

 .menu{
  text-transform: uppercase;
  font-size: 0.85rem;
  padding: 0.5rem 0;
  font-weight: 500;
  .newProject {
   border: 1px solid $purpel;
   padding-left: 0.4rem;
   padding-right: 0.4rem;
  }
  .faq {

  }
  .avatar {
   border-radius: 50%;
   height: 22px;
   width: 22px;
  }
  .account {
   padding-left:0.5rem;
   margin-left:0;
  }
  .logout {

  }
  .signin{

  }
  .signup{
   border: 1px solid $purpel;
   padding-left: 0.4rem;
   padding-right: 0.4rem;
   position: relative;
   top:-1px;
   a {
    &:link {
     color:$black;
    }
    &:visited {
     color:$black;
    }
    &:hover, &:active, &:focus {
     color:$black;
    }
   }
  }
 }
}

#main {
 background: $white;

 #teaser {
  background: $teaser;
  h1 {
   color: $white;
   font-weight: 200;
   font-size: 2rem;
   padding-top: 1rem;
   padding-bottom: 1rem;
  }
  .metric{
   padding-top: 1.5rem;
   padding-bottom: 2rem;
  }
  .startNowButton {
   @include button;
   background: $purpel;
   border: 1px solid $orange;
   text-transform: uppercase;
   padding: 0.5rem 3rem;
   &:hover{
    background: $orange;
   }
  }
 }

 #content {
  background: $lightGrey;
  padding-top: 1rem;
  padding-bottom: 1rem;
  .projectSmall {
   margin-bottom: 1rem;
   background: $white;
   padding: 0.5rem 1rem 1rem 1rem;
  }
  .projectRow{
   padding-bottom: 0rem;
  }
  .labelDescription {
   font-size: 0.75rem;
  }
 }
}

#footer {
 background: $footerGrey;
 color: $lightGrey;
 padding-top: 1rem;

 .footerItem{
  font-size: 0.85rem;
 }

 .highlight {
  color: $teaser;
  padding-bottom: 1rem;
 }

}
#EOP {
 height: 0.3rem;
 background: $purpel;
}

.custom-progress-container {
 @include progress-container;
 height: 12px;
 border: 1px solid $lightGrey;
 & > span {
  @include progress-meter($green);
 }
}

.projectLabels{
 @include label(
  $padding:0.25rem 0.5rem 0.25rem,
  $text-size:0.65rem,
  $bg:$orange
 );
}

.modal {
 background: $white;
 padding: 0.5rem 1rem 1.5rem 1rem;
 h3 {
  color: $purpel;
  padding-bottom: 0.5rem;
 }

 .modalButton{
  @include button;
  background: $green;
  text-transform: uppercase;
  padding: 1rem 3rem;
  margin-top: 1rem;
  &:hover{
   background: $darkGreen;
  }
  .signupButton {

  }
  .signinButton {

  }
 }
 .modalSwitch {
  font-size: 0.75rem;
 }
}

