<div ng-class="teaser.show ? 'teaser--hero' : 'teaser--slim'">
    <div class="teaser-visual"></div>

    <div class="teaser-content">
        <h1 class="teaser-heading">Deine Innovation startet hier.</h1>

        <div class="teaser-action-bar">
            <div class="teaser-action-bar__item -side">
                <h2 class="teaser-action-bar__heading">Start</h2>

                <p class="teaser-action-bar__lede">Registriere oder melde dich an</p>

                <p class="teaser-action-bar__metrics"><span class="test-user-count">{{ teaser.userMetrics.count | number }}</span> aktive Nutzer</p>
            </div>

            <div class="teaser-action-bar__item -center">
                <h2 class="teaser-action-bar__heading">Give &amp; Get</h2>

                <p class="teaser-action-bar__lede">Veröffentliche und unterstütze Ideen in einer laufenden Runde</p>

                <p class="teaser-action-bar__metrics">
                    <span class="test-remaining-budget">{{ (teaser.remainingTime ? teaser.userMetrics.remainingBudget : 0) | number }}</span> &euro; im Umlauf</p>
            </div>

            <div class="teaser-action-bar__item -side">
                <h2 class="teaser-action-bar__heading">Make it real</h2>

                <p class="teaser-action-bar__lede">Setze deine Idee mit anderen um</p>

                <p class="teaser-action-bar__metrics test-remaining-time">{{ teaser.remainingTime ? 'Noch ' + teaser.remainingTime : 'Keine aktive Runde' }}</p>
            </div>
        </div>

        <a href="#/project/new" class="teaser__btn">Jetzt Dein Projekt starten</a>
    </div>
</div>
