<div ng-class="teaser.show ? 'teaser--hero' : 'teaser--slim'">
    <div class="teaser-visual"></div>

    <div class="teaser-content">
        <h1 class="teaser-heading">Axel Springer Crowdfunding</h1>
        <p  class="teaser-subhead">Deine Innovation startet hier.</p>

        <div class="teaser-action-bar">
            <div class="teaser-action-bar__item --one">
                <h2 class="teaser-action-bar__heading">Start</h2>
                <p  class="teaser-action-bar__lede">Registriere dich gleich  oder melde dich an</p>
            </div>

            <div class="teaser-action-bar__item --two">
                <h2 class="teaser-action-bar__heading">Ideate &amp; fund</h2>
                <p  class="teaser-action-bar__lede">Veröffentliche und unterstütze Ideen  in einer laufenden Runde</p>
            </div>

            <div class="teaser-action-bar__item --three">
                <h2 class="teaser-action-bar__heading">Make it real</h2>
                <p  class="teaser-action-bar__lede">Setze deine Idee mit anderen um</p>
            </div>

        </div>

        <a href="#/project/new" class="teaser__btn">Jetzt Dein Projekt starten</a>
    </div>
</div>
