// crowdsource settings
// --------------------
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic);

$crowd-font-family: "Source Sans Pro", sans-serif;

$crowd-color-purple: #6455a0;
$crowd-color-orange: orange;
$crowd-color-darker-grey: #575757;
$crowd-color-dark-grey: #6b6b6b;
$crowd-color-light-grey: #e6e6e6;

$crowd-line-height: 20.8px;

@import "foundation/_foundation-settings";
