/***
* Crowdsource Settings
*
*
*
*/

// ---
// Type Definitions
// ---


// Font families + Colors for Foundation

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,500,600,700,400italic);

$ff: "Source Sans Pro", "Helvetica Neue", "Helvetica", Arial, sans-serif;
$crowd-font-family: $ff;
$crowd-line-height: 22px;



// ---
// Import AND Extend Foundation Settings
// ---

$crowd-color-purple:       #6455a0;
$crowd-color-orange:       orange;
$crowd-color-darker-grey:  #575757;
$crowd-color-dark-grey:    #2d2d2d;
$crowd-color-light-grey:   #e6e6e6;

$success-color:            #4BD489; //#43AC6A; // Abhängigkeit zu Foundation Settings

$crowd-primary-color:      $crowd-color-purple;
$crowd-secondary-color:    $success-color;

@import "foundation/_foundation-settings";



// ---
// Sapcing Units, eg. for helper classes
// ---

$crowd-font-size: 16px;

$su-base: rem-calc($crowd-font-size);
$su-half: rem-calc($crowd-font-size / 2);
$su-dble: rem-calc($crowd-font-size * 2);



// ---
// Color Definitions, see other color settings in foundation settings
// ---

// Base Colors

$clr-indigo:          #4B51D4;  // Some kind of blue
$clr-cranberry:       #D44B95;  // Pink or Red
$clr-wattle:          #D4CE4B;  // Dirty Yellow
$clr-emerald:         #4BD489;  // Mint Green

$clr-base-blue:       $clr-indigo;
$clr-base-red:        $clr-cranberry;
$clr-base-yellow:     $clr-wattle;
$clr-base-green:      $clr-emerald;


// Shades Blue

$clr-blue-shade-1:    #5A61FE;
$clr-blue-shade-2:    #4B51D4;
$clr-blue-shade-3:    #3C41A9;
$clr-blue-shade-4:    #2D317F;
$clr-blue-shade-5:    #1E2054;
$clr-blue-shade-6:    #0F102A;


// Shades Red

$clr-red-shade-1:     #FE5AB3;
$clr-red-shade-2:     #D44B95;
$clr-red-shade-3:     #A93C77;
$clr-red-shade-4:     #7F2D59;
$clr-red-shade-5:     #541E3B;
$clr-red-shade-6:     #2A0F1E;


// Shades Yellow

$clr-yellow-shade-1:  #FEF75A;
$clr-yellow-shade-2:  #D4CE4B;
$clr-yellow-shade-3:  #A9A53C;
$clr-yellow-shade-4:  #7F7B2D;
$clr-yellow-shade-5:  #54521E;
$clr-yellow-shade-6:  #2A290F;


// Shades Green

$clr-green-shade-1:   #5AFEA4;
$clr-green-shade-2:   #4BD489;
$clr-green-shade-3:   #3CA96E;
$clr-green-shade-4:   #2D7F52;
$clr-green-shade-5:   #1E5437;
$clr-green-shade-6:   #0F2A1B;


// Black Shades

$clr-mine-shaft:      #2D2D2D;  // Bodycopy
$clr-boulder:         #787878;  // Lighter Bodycopy
$clr-gallery:         #F0F0F0;  // Very Light BG's
$clr-alto:            #D8D8D8;  // Outlines
$clr-white:           #FFFFFF;  // Pure White


// Legacy Colors

$clr-bossanova:       #532054;
$clr-butterfly:       #5D568C;
$clr-emerald:         #56BF84;
$clr-emerald-lighter: #35BF72;
$clr-aquamarine:      #61FFA6;
$clr-chateau-green:   #43AC6A;
$clr-blue-bell:       #8C82C8;


// Colors by function

$clr-body:            $clr-mine-shaft;
$clr-body-light:      $clr-boulder;
$clr-border:          $clr-alto;
$clr-bg:              $clr-gallery;
$clr-teaser-start:    $clr-bossanova;
$clr-teaser-end:      $clr-blue-shade-5;


// Gradient for divider
$clr-solar-light-start:  $clr-butterfly;
$clr-solar-light-end:    $clr-emerald;






// ---
// Font Size's Definitions
// ---


$fs-small:    rem-calc(14px);
$fs-normal:   rem-calc(16px);
$fs-medium:   rem-calc(24px);
$fs-hero:     rem-calc(32px);



// ---
// Font Weight
// ---


$fw-extralight: 200;
$fw-light:      300;
$fw-regular:    400;
$fw-medium:     500;
$fw-bold:       600;
$fw-extrabold:  700;
$fw-black:      800;



// ---
// Border Definitions
// ---


$border-radius: 3px;



// ---
// Range Slider
// ---

$range-slider-handle-width: rem-calc(28px);
$range-slider-handle-height: rem-calc(28px);
$range-slider-handle-position-top: rem-calc(-13px);
$range-slider-active-segment-bg-color: $clr-emerald;
