@charset "UTF-8";

@import "settings";
@import "foundation/scss/normalize";
@import "foundation/foundation";
@import "util/form";
@import "util/navigation";
@import "util/objects";
@import "components/project";
@import "components/inline-modal";

button {
    text-transform: uppercase;
}

button:focus {
    outline: 0;
}

body {
    background-color: $crowd-color-light-grey;
}

.page-wrapper {
    min-height: 100%;
    position: relative;
}

.teaser {
    width: 100%;
    line-height: 100px;
    background-color: $crowd-color-purple;
    color: white;
    font-size: 4.1vw;

    @media #{$medium-up} {
        line-height: 200px;
        font-size: 28px;
    }
}

.content {
    padding-bottom: 200px;
    color: $crowd-color-dark-grey;

    content-row {
        display: block;
        padding: 10px;

        @media #{$medium-up} {
            padding: 40px;
        }

        .container {
            margin: 0 auto;
            max-width: $row-width;
        }
    }
}

.light {
    background-color: $white;

    h1, h2, h3, h4, h5, h6 {
        color: $crowd-color-purple;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    height: 200px;
    width: 100%;
    background-color: $crowd-color-darker-grey;
}
