@charset "UTF-8";

@import "settings";
@import "util/helper";
@import "foundation/scss/normalize";
@import "foundation/foundation";
@import "foundation/foundation-datepicker";
@import "foundation/foundation-accordion";
@import "util/form";
@import "util/objects";
@import "components/project/project-list";
@import "components/project/project-details";
@import "components/project/project-details-status";
@import "components/project/pledging-form";
@import "components/project/project-form";
@import "components/teaser";
@import "components/main-nav";
@import "components/status-bar";
@import "components/footer";
@import "components/finance";
@import "components/financing-rounds";
@import "components/alert-box";
@import "components/_about";
@import "components/_progress-meter";
@import "components/faq";
@import "components/imprint";
@import "components/browser-fallback-page";

.button, button {
    text-transform: uppercase;
}

button:focus {
    outline: 0;
}

body {
    background-color: #F5F5F5;
}

.page-wrapper {
    // Make our footer sticky
    @media #{$medium-up} {
        min-height: calc(100% - 240px);  // Our footer has a height of 240px;
    }
}

.content {
    color: $crowd-color-dark-grey;
}

content-row {
    display: block;
    padding: 0;

    @media #{$medium-up} {
        padding: rem-calc(40px) 0;
    }

    .container {
        margin: 0 auto;
        padding: rem-calc(16px);
        max-width: $row-width;
    }

    .box {
        @extend %box;
        max-width: rem-calc(500);
    }
}
