@charset "UTF-8";

@import "settings";
@import "util/helper";
@import "foundation/scss/normalize";
@import "foundation/foundation";
@import "util/form";
@import "util/objects";
@import "components/project/project-list";
@import "components/project/project-details";
@import "components/project/project-details-status";
@import "components/project/pledging-form";
@import "components/project/project-form";
@import "components/teaser";
@import "components/main-nav";

.button, button {
    text-transform: uppercase;
}

button:focus {
    outline: 0;
}

body {
    background-color: $crowd-color-light-grey;
}

.page-wrapper {
    min-height: 100%;
    position: relative;
}

.content {
    padding-bottom: 200px;
    color: $crowd-color-dark-grey;
}

content-row {
    display: block;
    padding: 10px;

    @media #{$medium-up} {
        padding: 40px;
    }

    .container {
        margin: 0 auto;
        max-width: $row-width;
    }

    &.box .container {
        @extend %box;
        max-width: rem-calc(500);
    }

    &.box-wide .container {
        @extend %box;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    height: 200px;
    width: 100%;
    background-color: $crowd-color-darker-grey;
}
