<content-row class="password-recovery-form">
    <form name="passwordRecovery.form" class="box" novalidate>

        <div class="row">
            <div class="small-12 columns">
                <h1>Passwort vergessen</h1>

                <p>
                    Gib hier deine Email-Adresse ein, mit der du dich registriert hast.
                    Du erhältst von uns dann eine E-Mail mit einem Bestätigungslink und kannst dann dein Passwort neu setzen.
                </p>
            </div>
        </div>

        <div class="general-error alert-box alert" ng-messages="passwordRecovery.generalErrors" ng-if="passwordRecovery.generalErrors">
            <span ng-message="remote_not_found">Die Email-Adresse wurde noch nicht registriert. Versuche dich einfach zu <a href="#/signup">registrieren</a>.</span>
            <span ng-message="remote_unknown">Es ist ein Fehler aufgetreten. Bitte versuche es erneut.</span>
        </div>

        <div class="row">
            <email-form-group model="passwordRecovery.user.email" field-name="email"
                              class="small-12 columns form-controls-email" />
        </div>

        <div class="row">
            <div class="small-12 columns text-center">
                <div>
                    <button type="submit" class="crwd-success radius shadow margin-top" ng-click="passwordRecovery.recoverPassword()" ng-disabled="passwordRecovery.loading">
                        {{ passwordRecovery.loading ? 'Abschicken...' : 'Abschicken' }}
                    </button>
                </div>
                <div>
                    oder <a href="#/login">hier geht's zum Login</a>
                </div>
            </div>
        </div>

    </form>
</content-row>
