<content-row class="project-administration-overview box-wide">

    <h1>Projektadministration</h1>

    <div class="alert-box info" ng-if="projectAdministration.info">
        {{ projectAdministration.info }}
        <span class="close" ng-click="projectAdministration.info = undefined">&times;</span>
    </div>

    <form name="projectAdministration.form" class="project-administration-form form-horizontal" novalidate>
        <div class="panel">
            <h2>Projekte verwalten</h2>


            <div class="row">
                <div ng-repeat="statusName in projectAdministration.allStatuses" class="status-set">

                    <b ng-if="statusName == 'PROPOSED'">EINGEREICHT</b>
                    <b ng-if="statusName == 'SAVED'">GESPEICHERT</b>
                    <b ng-if="statusName == 'PUBLISHED'">VERÖFFENTLICHT</b>
                    <b ng-if="statusName == 'FULLY_PLEDGED'">ABGESCHLOSSEN</b>

                    <div ng-repeat="project in projectAdministration.allProjects | filter: {status: statusName}">

                        <p>Projekttitel: {{project.title}}</p>

                        <p>Ersteller: {{project.creator.name}}</p>

                        <p>Email: {{project.creator.email}}</p>

                        <p>Kurzbeschreibung: {{project.shortDescription}}</p>

                        <p>Finanzierungsbedarf: {{project.pledgeGoal}} $</p>

                        <div ng-if="statusName == 'PROPOSED'">
                            <button class="stop-button alert flush--bottom"
                                    ng-click="projectAdministration.reject(project)">
                                ablehnen
                            </button>
                            <button class="cancel-button flush--bottom"
                                    ng-click="projectAdministration.publish(project)">
                                veröffentlichen
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</content-row>