[Unit]
Description=CrowdSource project
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill crowdsource
ExecStartPre=-/usr/bin/docker rm crowdsource
ExecStartPre=-/usr/bin/docker login -e crowdsource@asideas.de -p ideas987 -u asjenkins
ExecStartPre=/usr/bin/docker pull asideas/crowdsource
ExecStart=/usr/bin/docker run -p 80:8080 --name="crowdsource" -e "SPRING_PROFILES_ACTIVE=prod" "asideas/crowdsource:latest"
ExecStop=/usr/bin/docker stop crowdsource

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineID=7d70b04a731143479c7e883aa7fc1a7c
