<div class="row">
    <ul class="sbar__ul">
        <li class="sbar__li--secondary">
            <span class="sbar__icon--location">CROWD / {{ status.breadcrump }}</span>
        </li>

        <li class="sbar__li--primary">
            <ul class="sbar__ul-float">
                <!-- <li><span class="sbar__icon--hourglass">1d 23h 55m 55s</span></li> -->
                <li class="budget postroundbudget-remaining" ng-if="status.postRoundBudgetDistributable()">
                    <span class="sbar__icon--box">Post-Runden-Budget &nbsp;</span>
                    <span class="sbar__pill">{{ status.financingRound.currentFinancingRound().postRoundBudgetRemaining | number }} &euro;</span>
                </li>
                <li class="budget user-budget" ng-if="status.auth.currentUser.loggedIn">
                    <span class="sbar__icon--box">Dein Budget &nbsp;</span>
                    <span class="sbar__pill">{{ status.auth.currentUser.budget | number }} &euro;</span>
                </li>
            </ul>
        </li>
    </ul>
</div>
