.financingrounds {

    .startdate, .enddate {
        width: 150px;
    }

    .budget {
        text-align: right;
        wdith: 50px;
    }

    .action {
        text-align: center;
        min-width: 200px;

        span {
            margin-right: 20px;
        }
    }
}
