/***
* Finance Widget
*
*/

//
// Finance Widget
//

// Finance Container

.finance {
    color: $clr-body;
    border: 1px solid $clr-border;
    border-radius: $border-radius;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, .075);
}

// Sections

.finance__section {
    padding: 1rem;
    border-bottom: 1px solid $clr-border;

    &:last-child {
        border-bottom: none;
    }
}

// List items

/*ul*/
.finance__ul {
    @extend .clearfix;
    margin: 0;
    list-style: none;

    > li {
        float: left;
        margin-right: 2rem;

        &:last-child {
            margin-right: 0;
        }
    }
}

/*li*/
.finance__li {
    font-size: rem-calc(18px);
    font-weight: $fw-bold;
}

/*li*/
.finance__li-important {
    font-size: $fs-medium;
    font-weight: $fw-bold;
}

/*li*/
.finance__li--cta {
    // Call to Action

    display: block;
    margin-top: 1rem;
    width: 100%;

    @media #{$medium-up} {
        margin-top: 0;
        float: right !important; // Don't like this, but it has to be, overrule
        // ul > li float: left
        width: auto;
    }
}

// Type

/*span*/
.finance__subtitle {
    display: block;
    font-size: $fs-small;
    font-weight: $fw-bold;
    line-height: 1.2;
    color: $clr-body-light;
}

// Button, extends Foundation's button styles

/*button*/
.finance__btn {
    @extend .flush--bottom;
    width: 100%;

    @media #{$medium-up} {
        width: auto;
    }
}

// Add a disabled style, otherwise Foundation trumps

.finance__btn[disabled] {
    background-color: $clr-alto;
    &:hover {
        background-color: $clr-alto;
    }
}

// Fields

/*input*/
.finance__input.finance__input {
    // Give this class a higher CSS specificity
    // to overrule Foundation's input class

    width: 140px;
    height: auto;
    margin: rem-calc(2px) 0;
    padding: 0;
    padding-right: rem-calc(38px);

    font-size: $fs-medium;
    font-weight: $fw-bold;
    border: 1px solid transparent;
    box-shadow: none;
    transition: none;

    &:hover {
        background-image: url('../images/icon-edit.svg');
        background-position: right rem-calc(8px) center;
        background-repeat: no-repeat;
        background-color: $clr-bg;
    }

    &:focus {
        border: 1px solid #ccc;
        background-image: url('../images/icon-edit.svg');
        background-position: right rem-calc(8px) center;
        background-repeat: no-repeat;
        box-shadow: none;
    }

    &[disabled] {
        background-color: transparent;

        &:hover {
            background-image: none;
        }
    }

    // Remove input[type=number] arrows in Chrome, Safari
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    // Remove input[type=number] arrows in Firefox
    -moz-appearance: textfield;
}

//
// Range Slider Styling to Add on Foundation's Slider
//

$rs-height: rem-calc(2px);
$rs-active-height: rem-calc(12px);
$rs-handle-size: rem-calc(32px);
$rs-handle-bg: $clr-body;

.range-slider {
    height: $rs-height;
    background-color: #000;
    border: none;
    border-right: 2px solid $white; // This fixes a strange pixel offset
    // on the right side of the range-slider

    border-top-left-radius: $rs-height / 2;
    border-bottom-left-radius: $rs-height / 2;

    &.disabled,
    &[disabled] {
        opacity: 0.25;
        background-color: $black;
    }

    &.reduced .range-slider-active-segment {
        background: $crowd-color-orange;
    }
}

.range-slider-active-segment {
    height: $rs-active-height;
    top: -#{($rs-active-height - $rs-height) / 2};
    left: -1px; // This fixes a strange pixel offset
    border-top-left-radius: $rs-active-height / 2;
    border-bottom-left-radius: $rs-active-height / 2;
    background: $clr-green-shade-2;
}

.range-slider-handle {
    $handle-bg: url('../images/range-slider-handle.svg') #{$rs-handle-bg} calc(50% + 1px) center no-repeat;

    top: -#{($rs-handle-size / 2) - ($rs-height / 2)};
    width: $rs-handle-size;
    height: $rs-handle-size;
    background: $handle-bg;
    border-radius: 50%;

    &:hover {
        background: $handle-bg;
    }

    .range-slider.disabled &,
    .range-slider[disabled] & {

        opacity: 1;
        background: $handle-bg;
        background-color: $black;

        &:hover {
            background: $handle-bg;
            background-color: $black;
        }
    }
}
