.financing-round-overview {
    background-color: $white;
}

.financingrounds {

    width: 100%;

    .budget {
        text-align: right;
    }

    .action {
        text-align: center;

        span {
            margin-right: 20px;
        }
    }
}
