/***
 * Footer
 *
 *
 */

// ---
//
// ---

.footer {
  margin-top: 2rem;
  padding: 3rem 1rem;
  color: $white;
  background-color: #3C3C3C;

  a {
    color: darken($white, 20%);
    text-decoration: none;
    transition: color 100ms ease-out;

    &:hover {
      color: darken($white, 10%);
    }
  }

  @media #{$medium-up} {
      margin-top: 0;
  }
}


/*ul*/.footer__col {

  margin: 3rem 0;
  line-height: 2rem;
  list-style-type: none;

  > li {
    font-weight: 300;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media #{$medium-up} {
    float: left;
    margin: 0 2rem;

    &:first-child {
      margin-left: 1rem;
    }

    &:last-child {
      margin-right: 1rem;
    }
  }
}


/*ul*/.footer__col-brand {
  @extend .footer__col;

  @media #{$medium-up} {
    float: right;
  }
}


%footer__item-head {
  margin-bottom: 1rem;
}


/*li*/.footer__item-head {
  @extend %footer__item-head;
  color: #4BD489;
}


/*li*/.footer__item-head-sec {
  @extend %footer__item-head;
  margin-bottom: 0;
}
