/***
* Main Navigation
*
* Located in the top area of most (if not all) pages
*
*/

// ---
// Main Nav
// ---

.site-logo {
  font-family: $ff-brand;
}



// ---
// Foundation Extension
// ---

// Extends Foundation's top-bar (foundation/compontents/top-bar)
// These selectors must be so specific to overwrite foundation's default styles

nav.top-bar {
    a {
        text-decoration: none;
        letter-spacing: 0.25px;
    }

    .top-bar-section {
        ul {
            // "center" the li's vertically instead of setting the line-height
            // to be able to apply a border to an anchor
            @media #{$medium-up} {
              padding-top: $topbar-height / 2 - $crowd-line-height / 2;
            }
        }

        @media #{$small-only} {
            border-top: 1px solid $black;
        }

        li:not(.has-form) a:not(.button) {
            line-height: inherit; // Foundation default: 45px
        }

        // Make a list item visually more important
        @media #{$medium-up} {

            li.border {
                margin: 0 rem-calc(16px);
            }

            li.border a {
                // Calculate offset between ouline and menu item to keep element
                // on a line with non-bordered elements
                $padding-offset: rem-calc(4px);

                position: relative;
                top:      -#{$padding-offset};
                padding:  $padding-offset rem-calc(16px);
                border-radius:    2px;
                background-color: gainsboro;

                &:hover {
                  background-color: darken(gainsboro, 5%);
                }
            }
        }
    }
}
