.project-form {

    .form-controls-short-description textarea {
        height: rem-calc(100);
    }

    .form-controls-pledge-goal .table {
        width: rem-calc(150);
    }

    .form-controls-description textarea {
        height: rem-calc(300);
    }

}

.project-list {
    @media #{$small-up} {
        @include block-grid(1);
    }
    @media #{$medium-up} {
        @include block-grid(2);
    }
    @media #{$large-up} {
        @include block-grid(3);
    }

    li {
        @extend .panel;
        @extend .light;
        @extend .radius;
    }
}
