/**
 *   Progress Bar / Meter
 *
 *   <div class="cs-progress">
 *     <span class="cs-progress__meter"></span>
 *   </div>
 *
 */

.cs-progress {
    height: rem-calc(6px);
    margin-bottom: rem-calc(12px);
    background-color: gainsboro;
    border-radius: rem-calc(4px);
}

/*span*/
.cs-progress__meter {
    display: block;
    height: 100%;
    background-color: #39c277;
    border-radius: rem-calc(4px);
}
