/***
* Status Bar
*
*
*/


//
// Status Bar' Mixins
//


@mixin sbar__icon($options: ()) {
    $options: map-merge((
        padding-left : 20px,
        bg-size-y    : 18px
    ), $options);
    padding-left: rem-calc(map-get($options, padding-left));
    background-repeat:   no-repeat;
    background-position: left center;
    background-size:     auto rem-calc(map-get($options, bg-size-y));
}




//
// Status Bar Styles
//


// Angular custom HTML

status-bar {
    display: block;
    background-color: $clr-bg;
    @media #{$medium-up} {
        border-bottom: 1px solid $clr-alto;
    }
}


// List item container

%ul-plain {
    margin: 0;
    list-style-type: none;
}


/*ul*/.sbar__ul {
    @extend %ul-plain;
    @media #{$medium-up} {
        @include css-table(('table-layout' : fixed));
    }
}


// List items

/*li*/.sbar__li--primary {
    @extend %sbar__li;

    text-align: center;
    @media #{$medium-up} {
        width: 60%;
        text-align: right;
    }
}


/*li*/.sbar__li--secondary {
    @extend %sbar__li;
    display: none;  // For smartphones, for bigger resolutions a media query
    // will revert to visible
    @media #{$medium-up} {
        width: 40%;
    }
}


%sbar__li {
    @extend  %font-smoothing;
    padding: 2rem 1rem;
    font-size: rem-calc(14px);
    line-height: 1;
    @media #{$medium-up} {
        @include css-table-cell();
        padding: 1.5rem 1rem;
    }
}


/*ul*/.sbar__ul-float {
    @extend %ul-plain;
    text-align: center;

    @media #{$medium-up} {
        text-align: right;
    }

    > li {
        display: block;
        margin:  1rem 0;
        font-size: rem-calc(14px);

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        // Layout for > 640px : Floating li elements
        @media #{$medium-up} {
            display: inline-block;
            margin:  0 1rem;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

//
// Icons
//


/*span*/.sbar__icon--location {
    @include sbar__icon();
    background-image: url('../images/icon-location.svg');
}


/*span*/.sbar__icon--hourglass {
    @include sbar__icon();
    background-image: url('../images/icon-hourglass.svg');
}


/*span*/.sbar__icon--box {
    @include sbar__icon(('padding-left': 28px));
    background-image: url('../images/icon-box.svg');
}




//
// Pill
//

/*span*/.sbar__pill {
    position: relative;
    padding:  rem-calc(4px) rem-calc(12px);
    color: $white;
    letter-spacing: 1px;
    background-color: #39c277;
    border-radius: rem-calc($border-radius);
}
