/***
 * Teaser
 *
 * Teaser area on top of most pages
 *
 */

// ---
// Teaser Widgets
// ---

%teaser {
  text-align: center;
  background-color: #39c277;
  padding: 2rem 1rem;

  @media #{$medium-up} {
    background: url('../images/teaser-bg.png') #39c277 center center no-repeat;
    padding: 2rem;
  }
}


// Hero class

.teaser--hero {
  @extend  %teaser;



}


// Slim class

.teaser--slim {
 @extend %teaser;
 height: 1rem;

  // Remove all HTML inside our slim teaser

  * {
    display: none;
  }
}



// ---
// Teaser Components
// ---

/*h1*/.teaser__heading {
  margin:      0;
  font-size:   $fs-medium;
  font-weight: 400;
  line-height: 1.33;
  color:       $white;

  @media #{$medium-up} {
   font-size: $fs-hero;
  }
}


/*p*/.teaser__intro {
  margin-bottom: 0;
  font-weight:   400;
  color:         $clr-body;

  @media #{$medium-up} {
    font-size: rem-calc(20px);
  }
}



// ---
// Metrics
// ---

%m-div-icon {
  position: relative;
}


%m-div-before {
  content: '';
  position: absolute;

  top:   0;
  left:  0;
  width:  100%;
  height: 100%;

  background-position: center center;
  background-repeat:   no-repeat;
  background-size:     18px;

  @media #{$medium-up} {
    background-size: 26px;
  }
}


.metrics__divider {
  height: 26px;
  margin-bottom: rem-calc(4px);
  background: url('../images/icon-div.svg') center center no-repeat;

  &.capital {
    @extend %m-div-icon;

    &:before {
      @extend %m-div-before;
      background-image: url('../images/icon-$$.svg');
    }
  }

  &.time {
    @extend %m-div-icon;

    &:before {
      @extend %m-div-before;
      background-image: url('../images/icon-clock.svg');
    }
  }

  &.user {
    @extend %m-div-icon;

    &:before {
      @extend %m-div-before;
      background-image: url('../images/icon-user.svg')
    }
  }
}


%metrics-text-layout {
  margin: 0;
}


.metrics__heading {
  @extend %metrics-text-layout;
  font-size: $fs-medium;
  color: $white;

  @media #{$medium-up} {
    font-size: $fs-hero;
  }
}


.metrics__subhead {
  @extend %metrics-text-layout;
  color: #3c3c3c;
}


.metrics {

  margin: 1rem auto;

  @media #{$medium-up} {
    display: table;
    table-layout: fixed;
    margin: 2rem auto;
    width:  100%;
    max-width: 1040px;
  }
}


.metrics--item {

  margin: 1rem 0;

  @media #{$medium-up} {
    display: table-cell;
    vertical-align: top;
  }
}


/*button*/.teaser__button {
  @extend .flush--bottom;
  @extend .round;  // Foundation class
}
