/***
 * Teaser
 *
 * Teaser area on top of most pages
 *
 */

//
// Define Extends
//

%teaser {
    position: relative;
    background-color: #39c277;
}

%teaser-visual-gradient {
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: linear-gradient(135deg, #292484, #dc4225);
        opacity: .33;
    }
}

//
// Define Teaser Variations: Hero and Slim
//

.teaser--hero {
    @extend %teaser;
}

.teaser--slim {
    @extend %teaser;
    @extend %teaser-visual-gradient;
    height: 1rem;

    // Remove all HTML inside our slim teaser

    & * {
        display: none;
    }
}

//
// Teaser Structure: Visual and Content Area
//

.teaser-visual {
    @extend %teaser-visual-gradient;
    position: absolute;
    opacity: .75;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    @media #{$medium-up} {
        background: url('../images/teaser-bg.png') #39c277 center center no-repeat;
    }
}

.teaser-content {
    position: relative;
    padding: 2rem 1rem;
    text-align: center;
}

//
// Teaser Text Components
//

/*h1*/
.teaser-heading {
    margin: 0;
    font-size: $fs-hero;
    font-weight: 300;
    line-height: 1.33;
    letter-spacing: .5px;
    color: $white;

    @media #{$small-only} {
        margin-bottom: 2rem;
        font-size: rem-calc(20px);
    }
}

//
// Teaser Action Bar: Start, Ideate, Make it real, with diamonds
//

.teaser-action-bar {
    display: none;

    @media #{$medium-up} {
        @include css-table();
        position: relative;
        max-width: 62.5rem;
        margin: 2rem auto;
        counter-reset: teaser-counter;

        &::before {
            // Draws a line to visually connect the diamond bg images in
            // .teaser-action-bar__heading
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            left: 0;
            top: rem-calc(12px); // > Padding for .teaser-action-bar__item +
            // top of diamond image
            background-image: linear-gradient(135deg, rgba($clr-yellow-shade-1, .25), rgba($clr-yellow-shade-1, 1), rgba($clr-yellow-shade-1, .25));
        }
    }

}

.teaser-action-bar__item {
    @include css-table-cell((valign: top, table-layout:fixed));
    @extend %set-v-margins;
    counter-increment: teaser-counter;
    padding: 0 5%;

    &.-side {
        @extend %teaser-action-bar__item--smaller;
    }

    &.-center {
        @extend %teaser-action-bar__item--bigger;
    }
}

// Variations of action-bar items with various widths,
// important to distribute contents

%teaser-action-bar__item--smaller {
    width: 28%;
}

%teaser-action-bar__item--bigger {
    width: 44%;
}

/*h2*/
.teaser-action-bar__heading {
    @extend %font-smoothing;
    position: relative;
    margin: 0 0 rem-calc(4px) 0;
    padding-top: rem-calc(56px);
    font-size: rem-calc(18px);
    font-weight: 600;
    line-height: 1.3333;
    text-transform: uppercase;
    color: $clr-yellow-shade-1;
    background: url('../images/icon-teaser-diamond.svg') center top no-repeat;

    &::after {
        content: counter(teaser-counter);
        position: absolute;
        width: 100%;
        top: rem-calc(3px);
        left: 0;
        color: $clr-yellow-shade-1;
    }
}

/*p*/
.teaser-action-bar__lede {
    @include typographic-divider((width: 3rem, height: .25rem, offset-bottom: 1rem));
    @extend %font-smoothing;
    font-size: rem-calc(18px);
    line-height: 1.3333;
    color: $white;

}

/*p*/
.teaser-action-bar__metrics {
    @extend %font-smoothing;
    font-size: rem-calc(18px);
    line-height: 1;
}

//
//  Metrics in Teaser CSS
//

.teaser-metrics-bar {
    margin: 1rem 0;
    @extend %set-v-margins;

    @media #{$medium-up} {
        @include css-table((table-layout:fixed));
        @extend %font-smoothing;
        max-width: 62.5rem;
        margin: 2rem auto;
        border: 1px solid rgba($clr-yellow-shade-1, .5);
    }
}

/*ul*/
.teaser-metrics-bar__item {

    margin: 1rem 0;

    > li {
        color: $clr-green-shade-5;
    }

    /*li*/
    .-text-highlight {
        font-size: rem-calc(20px);
        color: $clr-yellow-shade-1;
    }

    @media #{$small-only} {
        &:not(:last-child) {
            @include typographic-divider((height: .125rem, offset-bottom: 1rem, color: $clr-yellow-shade-1));
        }

    }

    @media #{$medium-up} {
        @include css-table-cell((valign: top));
        @extend %list--plain;
        padding: 1rem;
    }
}

//
// Teaser Button
//

/*a*/
.teaser__btn {
    @extend .button; // Foundation' styles
    @extend .round; // Foundation' styles
    @extend .dark;
    @extend .flush--bottom;
}
