.project-form {

    .form-controls-short-description textarea {
        height: rem-calc(100);
    }

    .form-controls-pledge-goal {
        width: rem-calc(150);
    }

    .form-controls-description textarea {
        height: rem-calc(300);
    }

}