nav.top-bar {
    a {
        text-decoration: none;
    }

    .top-bar-section {
        ul {
            // "center" the li's vertically instead of setting the line-height
            // to be able to apply a border to an anchor
            padding-top: $topbar-height / 2 - $crowd-line-height / 2;
        }

        @media #{$small-only} {
            border-top: 1px solid $black;
        }

        // this selector must be so specific to overwrite the styles from foundation
        li:not(.has-form) a:not(.button) {
            line-height: inherit; // foundation default: 45px
        }

        @media #{$medium-up} {
            li.border a {
                border: 1px solid $black;
            }
        }
    }
}
