// a collection of object oriented classes (OOCSS) that can be applied to any element

.margin-top {
    margin-top: 20px;
}

.margin-bottom {
    margin-bottom: 50px !important;
}

.margin-bottom-small {
    margin-bottom: 25px !important;
}

.font-small {
    font-size: 12px;
}

.postfix.text-left {
    padding: 0 5px;
}

.full-width {
    width: 100%;
}

.table {
    display: table;
}

.table-cell {
    display: table-cell;
    vertical-align: top;
}

.push-down {
  display: block;
  margin-top: 50px;
}

%light {
    background-color: $white;

    h1, h2, h3, h4, h5, h6 {
        color: $clr-body;
    }
}

%box {
    @extend .panel;
    @extend .radius;
    @extend %light;

    margin: 0 auto;
    background-color: $white;

    h1 {
        font-size: rem-calc(27);
        margin-top: 10px;
        margin-bottom: 50px;
    }

    h2 {
        font-size: rem-calc(20);
        margin-bottom: 30px;
    }

    border: none;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),0 0 2px 0 rgba(0,0,0,0.1);
}

.divider {
    width: rem-calc(50);
    background: $black;
    height: rem-calc(3);
    margin: 0 auto rem-calc(40) auto;
}

.video-bounds {
    margin: 0 auto;
    max-width: 620px;
}
