<content-row class="intro-section">
    <h1>Axel Springer Crowd</h1>

    <p>Die Axel Springer Crowd ist die Crowdfunding Plattform der AS IT. Hier kannst Du innovative Ideen pitchen und in die Tat umsetzen.</p>

    <ul class="info-boxes" data-equalizer>
        <li>
            <div class="panel" data-equalizer-watch>
                <h2>Dein Budget</h2>

                <div class="divider"></div>

                Nutze Dein Budget und verteile es auf eingereichten Ideen. Gefällt Dir keines der vorgestellten Projekte? Dann starte Dein eigenes!
            </div>
        </li>
        <li>
            <div class="panel" data-equalizer-watch>
                <h2>Du</h2>

                <div class="divider"></div>

                Ohne Dich geht nichts. Stelle uns Deine coolen Ideen vor oder nutze Dein Budget, um die innovativsten Crowd-Projekte zu fördern
            </div>
        </li>
        <li>
            <div class="panel" data-equalizer-watch>
                <h2>Dein Zeitrahmen</h2>

                <div class="divider"></div>

                Die Uhr tickt. Mindestens einmal im Quartal schütten wir AS$ an alle Nutzer aus. Nutze diese innerhalb der aktuellen Finanzierungsrunde, denn sonst verfällt Dein Budget!
            </div>
        </li>
    </ul>

    <p>Hast Du noch Fragen? Dann überfliege unseren FAQ.<br/>Registriere Dich, melde Dich an, und leg los!</p>

</content-row>

<content-row class="project-list">
    <h2 class="text-center">Die neusten Projekte</h2>

    <ul data-equalizer>
        <li ng-repeat="project in projectList.projects | orderBy:projectList.projectOrder" foundation-reflow="equalizer">
            <div class="project-tile" data-equalizer-watch ng-click="projectList.showProjectDetails(project)">

                <!-- when using ellipsis directive, the value must come from ng-bind -->
                <h1 ellipsis ng-bind="project.title"></h1>

                <p ellipsis ng-bind="project.shortDescription"></p>

                <div class="metrics">
                    <progress-bar value="project.pledgedAmount" maximum="project.pledgeGoal"></progress-bar>

                    <div class="metrics-numbers">
                        <span class="label radius backers-count">{{ project.backers }}</span>
                        <span class="backers-text">Förderer</span>

                        <span class="label radius pledged-amount">${{ project.pledgedAmount | number }}</span> Finanzierung
                    </div>
                </div>
            </div>
        </li>
    </ul>

    <div class="no-projects text-center" ng-show="projectList.projects.$resolved && projectList.projects.length == 0">
        <p>Oops. Noch sind keine Projekte eingestellt. Erstelle das erste Projekt!</p>

        <div class="divider"></div>

        <a class="button success" href="#/project/new">Jetzt neues Crowd Projekt starten</a>
    </div>

</content-row>
